{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block css %}
    <link rel="stylesheet" href={% static 'user_register.css' %}>
  {% endblock %}

  <div class="container">
    <h1>Register User</h1>
    {% if forms %}
      {% if form.errors %}
        <ul class="errors">
          {% for error in form.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}

    <div class="form-container">
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <div class="field" id="role">
          {{ form.role.errors }}
          <label for="{{ form.role.id_for_label }}">Role:</label>
          {{ form.role }}
        </div>
        <div class="pair">
          <div class="field">
            {{ form.first_name.errors }}
            <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
          </div>
          <div class="field">
            {{ form.last_name.errors }}
            <label for="{{ form.last_name.id_for_label }}">Last Name:</label>
            {{ form.last_name }}
          </div>
        </div>
        <div class="pair">
          <div class="field">
            {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
          </div>
          <div class="field">
            {{ form.phone.errors }}
            <label for="{{ form.phone.id_for_label }}">Phone:</label>
            {{ form.phone }}
          </div>
        </div>
        <div class="pair">
          <div class="field">
            {{ form.password1.errors }}
            <label for="{{ form.password1.id_for_label }}">Password:</label>
            {{ form.password1 }}
          </div>
          <div class="field">
            {{ form.password2.errors }}
            <label for="{{ form.password2.id_for_label }}">Confirm Password:</label>
            {{ form.password2 }}
          </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-secondary">
      </form>
    </div>
  </div>

{% endblock %}

