
{% block head %}
  {% load static %}
  <link rel="stylesheet" href={% static 'login.css' %}>
  <title>Login</title>
{% endblock %}

{% block body %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  <div class="form-container">
    <h2>Scheduling App</h2>
    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <div class="entry">
        <div class="user">
          <img id="person" src={% static 'assets/person.svg' %} alt=''/>
          {{ form.username.label_tag }}
        </div>
        {{ form.username }}
      </div>
      <div class="entry">
        <div class="pass">
          <img id="lock" src={% static 'assets/lock-closed.svg' %} alt=''/>
          {{ form.password.label_tag }}
        </div>
        {{ form.password }}
      </div>

      <div class="submit-div">
        <a href="">Reset password</a>
        <input type="submit" value="Login" class="submit-btn">
        <input type="hidden" name="next" value="{{ next }}">
      </div>

      {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
    </form>
  </div>

  {# Assumes you set up the password_reset view in your URLconf #}
  {#<p><a href="{% url 'password_reset' %}">Lost password?</a></p>#}

{% endblock %}