{% extends 'base.html' %}

{% load static %}

{% block content %}

  {% block css %}
    <link rel="stylesheet" href={% static 'course_info.css' %}>
  {% endblock %}

  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Courses with Labs and Sections</title>
  </head>
  <h1>Course Information</h1>
  <div class="container">
  {% if request.user.is_admin %}
  <form method="post" action="{% url 'course_assignment' %}" novalidate>
        {% csrf_token %}
        {% if add == 'add_course' %}
            <div class="form-container">
                <div class="entries">
                    {% for field in course_form %}
                        <div class="entry">
                            {{ course }}
                            {{ field }}
                        </div>
                    {% endfor %}
                    <button name="course-save">Save</button>
                    <button>Cancel</button>
                </div>
            </div>
        {% else %}
            <button name="course-add" style="background-color:#6FC276">Add Course <img src="{% static 'assets/add-circle.svg' %}" alt="trash" width="20px"></button>
        {% endif %}
    </form>
    {% endif %}
    {% if courses %}
      {% for course in courses %}
        <div class="course_container">
        <div class="nameremove">
          <h2>{{ course.name }} ({{ course.department }} {{ course.number }})</h2>
          {% if request.user.is_admin %}
          <div class="remove">
            <a id="delete" href="{% url 'delete_course' course.id %}"><img src="{% static 'assets/trash.svg' %}" alt="trash" width="25px"></a>
          </div>
            {% endif %}
        </div>
          {% if course.lab_set.all %}
            <h3>Labs:</h3>
            <table>
              <tr>
                <th>TA</th>
                <th>Lab section</th>
                <th>Times</th>
                <th>Days</th>
              </tr>
              {% for lab in course.lab_set.all %}
                <tr>
                  <td>{{ lab.assistant.first_name }} {{ lab.assistant.last_name }} 
                      {% if request.user.is_admin %}
                      <a href="{% url 'assign_ta' course.name lab.id %}"><img src="{% static 'assets/pencil.svg' %}" alt="trash" width="25px"></a>
                      {% endif %}
                  </td>
                  <td>{{ lab.lab_name }}</td>
                  <td>{{ lab.start_time }} - {{ lab.end_time }}</td>
                  <td>{{ lab.days }}</td>
                  <td>
                      {% if request.user.is_admin %}
                      <div class="remove">
                        <a id="delete" href="{% url 'delete_lab' lab.id %}"><img src="{% static 'assets/trash.svg' %}" alt="trash" width="25px"></a>
                      </div>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p class="none">No labs at this time.</p>
          {% endif %}
            {% if request.user.is_admin %}
            <form method="post" action="{% url 'course_assignment' %}" novalidate>
                {% csrf_token %}
                <input type="hidden" name="lab_course_name" value="{{ course.name }}">
                {% if add == 'add_lab' and pk_lab == course.id %}
                    <div class="form-container">
                        <div class="entries">
                            {% for field in lab_form %}
                                <div class="entry">
                                    {{ field }}
                                </div>
                            {% endfor %}
                            <button name="lab-save">Save</button>
                            <button>Cancel</button>
                        </div>
                    </div>
                {% else %}
                    <button name="lab-add" value="{{ course.id }}" style="background-color:#6FC276">Add Lab<img src="{% static 'assets/add-circle.svg' %}" alt="trash" width="20px"></button>
                {% endif %}
            </form>
            {% endif %}
          {% if course.section_set.all %}
            <table>
              <h3>Sections:</h3>
              <tr>
                <th>Instructor</th>
                <th>Start/End</th>
                <th>Times</th>
                <th>Days</th>
              </tr>
              {% for section in course.section_set.all %}
                <tr>
                  <td>{{ section.instructor.get_full_name }}
                      {% if request.user.is_admin %}
                      <a href="{% url 'assign_instructor' section.id %}"><img src="{% static 'assets/pencil.svg' %}" alt="trash" width="25px"></a>
                      {% endif %}
                  </td>
                  <td>{{ section.start_date }} - {{ section.end_date }}</td>
                  <td>{{ section.start_time }} - {{ section.end_time }}</td>
                  <td>{{ section.days }}</td>
                  <td>
                      {% if request.user.is_admin %}
                      <div class="remove">
                        <a id="delete" href="{% url 'delete_section' section.id %}"><img src="{% static 'assets/trash.svg' %}" alt="trash" width="25px"></a>
                      </div>
                      {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </table>
          {% else %}
            <p class="none">No sections at this time.</p>
          {% endif %}
          {% if request.user.is_admin %}
          <form method="post" action="{% url 'course_assignment' %}" novalidate>
            {% csrf_token %}
            <input type="hidden" name="section_course_name" value="{{ course.name }}">
            {% if add == 'add_section' and pk_section == course.id %}
                <div class="form-container">
                    <div class="entries">
                        {% for field in section_form %}
                            <div class="entry">
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button name="section-save">Save</button>
                        <button>Cancel</button>
                    </div>
                </div>
            {% else %}
                <button name="section-add" value="{{ course.id }}" style="background-color:#6FC276">Add Section<img src="{% static 'assets/add-circle.svg' %}" alt="trash" width="20px"></button>
            {% endif %}
          </form>
            {% endif %}
          <br>
        </div>
      {% endfor %}
    {% else %}
      <h2>No courses at this time.</h2>
    {% endif %}
  </div>
{% endblock %}



