{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% block css %}
    <link rel="stylesheet" href={% static 'user_info.css' %}>
  {% endblock %}
  <html lang="en">
  <meta charset="UTF-8">
  <h1>User Information</h1>
  <div class="container">
    {% for user in users %}
      <div class="card">
        <div class="profile_img">
          <img src={% static 'assets/person-circle-outline.svg' %} class="profile" alt="Profile Image">
        </div>
        <div class="info">
          <div class="name">
            <img src={% static 'assets/accessibility.svg' %} alt="dude" width="25px">
            <h5>{{ user.get_full_name }}</h5>
          </div>
          <div class="role">
            <img src={% static 'assets/star.svg' %} alt="role" width="25px">
            {% if user.is_assistant %}
              <p>TA</p>
            {% elif user.is_instructor %}
              <p>Instructor</p>
            {% else %}
              <p>Supervisor</p>
            {% endif %}
          </div>
          {% if member.is_admin %}
            <div class="phone">

              <img src={% static 'assets/call.svg' %} alt="phone" width="25px">

              <p>{{ user.phone }}</p>

            </div>
          {% endif %}
          <div class="email">
            <img src={% static 'assets/mail.svg' %} alt="email" width="25px">
            <a href="https://outlook.office.com/mail"> {{ user.email }}</a>
          </div>

          {% if user.is_instructor or user.is_assistant %}
            <div class="assignments">
              <img src={% static 'assets/assignments.svg' %} alt="assignments" width="25px">
              <a href="/{{ user.email }}">Assignments</a>
            </div>
          {% endif %}
        </div>
        {% if member.is_admin %}
          <div class="remove">
            <a href="/edit_information/{{ user.email }}"><img src="{% static 'assets/pencil.svg' %}" alt="pencil" width="25px"></a>
            <a id="delete" href="{% url 'delete_user' user.email %}"><img src="{% static 'assets/trash.svg' %}" alt="trash" width="25px"></a>
          </div>
        {% endif %}
      </div>
    {% endfor %}
  </div>
  {% if member.is_admin %}
    <div class="regbtn">
      <a href="/register/" id="reg">Register New Account</a>
    </div>
  {% endif %}
{% endblock %}

