{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block css %}
    <link rel="stylesheet" href={% static 'course_creation.css' %}>
  {% endblock %}
  <div class="container">
    <h1>Create a New Course</h1>

    {% if forms %}
      {% if form.errors %}
        <ul class="errors">
          {% for error in form.errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}

    <div class="form-container">
      <form method="post">
        {% csrf_token %}
        <div class="field">
          {{ form.department.errors }}
          <label for="{{ form.department.id_for_label }}">Department:</label>
          {{ form.department }}
        </div>
        <div class="field">
          {{ form.name.errors }}
          <label for="{{ form.name.id_for_label }}">Name:</label>
          {{ form.name }}
        </div>
        <div class="field">
          {{ form.number.errors }}
          <label for="{{ form.number.id_for_label }}">Number:</label>
          {{ form.number }}
        </div>
        <div class="field">
          {{ form.semester.errors }}
          <label for="{{ form.semester.id_for_label }}">Semester:</label>
          {{ form.semester }}
        </div>
        <button type="submit" class="btn btn-secondary" style="margin-top: 4px;">Submit</button>
      </form>
    </div>
  </div>
{% endblock %}
