{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block css %}
    <link rel="stylesheet" href={% static 'home.css' %}>
  {% endblock %}

  <div class="container">
    <h1>Welcome {{ request.user.first_name }}</h1>
    {% if request.user == user %}
      <h2>Your Courses</h2>
    {% else %}
      <h2>Viewing section(s) for {{ user.first_name }} {{ user.last_name }}</h2>
    {% endif %}
    <div class="card_container">
    {% if not sections %}
      <p>No labs at this time</p>
    {% else %}
      {% for section in sections %}
        <div class="lab_card">
            <h3>{{ section.course.department }}  {{ section.course.number }}</h3>
            <h5>Course section: {{ section.section_name }}</h5>
            <p>{{ section.start_time }} - {{ section.end_time }}</p>
            <p>Days: {{ section.days }}</p>
            <p><a href="{% url 'assign_ta' section.course %}">Assign TAs</a></p>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
{% endblock %}
