{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Section</title>
</head>
<body>
    <h1>Create a New Section</h1>
    <form method="post" action="{% url 'section_creation' %}">
    
        {{ form.non_field_errors }}
        {{ form.course.errors }}
        {{ form.course.label_tag }} {{ form.course }}<br>
        {{ form.instructor.errors }}
        {{ form.instructor.label_tag }} {{ form.instructor }}<br>
        {{ form.section_name.errors }}
        {{ form.section_name.label_tag }} {{ form.section_name }}<br>
        {{ form.start_date.errors }}
        {{ form.start_date.label_tag }} {{ form.start_date }}<br>
        {{ form.end_date.errors }}
        {{ form.end_date.label_tag }} {{ form.end_date }}<br>
        {{ form.start_time.errors }}
        {{ form.start_time.label_tag }} {{ form.start_time }}<br>
        {{ form.end_time.errors }}
        {{ form.end_time.label_tag }} {{ form.end_time }}<br>
        {{ form.days.errors }}
        {{ form.days.label_tag }} {{ form.days }}<br>
    
    <input type="submit" value="Submit">
</form>
</body>
</html>
{% endblock %}