{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% block css %}
    <link rel="stylesheet" href={% static 'home.css' %}>
  {% endblock %}

  <div class="container">
    <h1>Welcome {{ request.user.first_name }}</h1>
    {% if request.user == user %}
      <h2>Your Labs</h2>
    {% else %}
      <h2>You are viewing the lab(s) of  {{ user.first_name }} {{ user.last_name }}</h2>
    {% endif %}
    <div class="card_container">
    {% if not labs %}
      <p>No labs at this time</p>
    {% else %}
      {% for lab in labs %}
        <div class="lab_card">
          <h3>{{ lab.course.department }}  {{ lab.course.number }}</h3>
          <h5>Lab section: {{ lab.lab_name }}</h5>
          <p>{{ lab.start_time }} - {{ lab.end_time }}</p>
          <p>Days: {{ lab.days }}</p>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
{% endblock %}