@font-face {
    font-family: "Poppins-Regular";
    src: url("fonts/Poppins-Regular.ttf") format("truetype");
}

body {
    font-family: "Poppins-Regular", serif;
}


.table_container {
    display: flex;
    flex-direction: column;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 12px;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th,
td {
    padding: 12px 0 12px 12px;
}

th {
    font-weight: bolder;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 0;
    padding: 16px 0 16px 0;
}

h3, h2 {
    margin-bottom: 0px;
}

h3 {
    padding: 12px 0 12px 0;
}

h2 {
    font-weight: bolder;
}

.none {
    margin-top: 12px;
    background-color: #f2f2f2;
    border-radius: 12px;
    padding: 8px;
}

.entries {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#id_days  {
    display: flex;
    gap: 8px;
}

select {
    height: 30px;
    width: 140px;
}

button {
    border: none;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 4px 16px;
}

button:hover {
    outline: 1px solid black;
}

form {
    margin-top: 16px;
    margin-bottom: 16px;
}

#id_start_date,
#id_end_date,
#id_start_time,
#id_end_time {
    width: 140px;
}

.remove {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    gap: 4px;
    align-items: center;
    margin-right: 8px;
}

#delete {
    background-color: #DC3545;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 6px 8px;
    font-weight: bolder;
}

.nameremove {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course_container {
    border-bottom: 1px solid grey;
    margin-bottom: 16px;
}